---
import Layout from "../../layouts/Layout.astro";
import qs from "qs";

interface Props extends FlatPage {}
export async function getStaticPaths() {
    const query = qs.stringify(
        {
            filters: {
                isParent: {
                    $eq: false,
                },
            },
            populate: {
                parentPage: true,
            },
        },
        {
            encodeValuesOnly: true, // prettify URL
        }
    );
    const response = await fetch(
        `${import.meta.env.STRAPI_URL}/pages?${query}`,
        {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                Authorization: "Bearer " + import.meta.env.STRAPI_TOKEN,
            },
        }
    );
    const { data: childPages, meta }: StrapiResponse<Page> =
        await response.json();

    return childPages.map(page => {
        return {
            params: {
                parent: page.attributes.parentPage.data?.attributes.slug,
                slug: page.attributes.slug,
            },
            props: { id: page.id, ...page.attributes },
        };
    });
}

const { title, content } = Astro.props;
---

<Layout title={title}>
    <div
        class="flex flex-col items-center justify-center w-2/3 relative"
        set:html={content}
    >
    </div>
</Layout>

<style></style>
