---
import { Image, Picture } from "@astrojs/image/components";
import headerLogo from "./images/logo.png";
import NavMenu from "./vue/NavMenu.vue";
export interface Props {
    currentUrl: string;
}

const { currentUrl } = Astro.props;
---

<div
    class="flex w-full  p-4 md:p-3 h-[4.5rem] gap-4 bg-gradient-to-r from-[#500e65] to-[#46b396] sticky top-0 z-10"
>
    <NavMenu client:load />
    <Image alt="Gopodo Formación" src={headerLogo} class="object-contain w-"/>
</div>
<style>

</style>
