---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="ESEICHADS">
    <h1 class="text-5xl font-extrabold">
        Welcome to <span class="text-gradient">ESEIChads</span>
    </h1>
</Layout>

<style>
    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }
</style>
