---
---

<head>
    <meta
        http-equiv="refresh"
        content={`0; url=${import.meta.env.BASE_URL}/inicio`}
    />
</head><button
    class="w-full bg-teal-600 p-4 absolute rounded left-0 text-center hidden"
>
    Redirecting...
</button>
<body class="w-screen h-screen bg-black"></body>