---
import CustomParticles from "../layouts/CustomParticles.vue";
---

<!DOCTYPE html>
<html
    lang="en"
    class="font-chad relative"
>
    <body class="w-screen h-screen bg-black">
        <div class="w-1/2 h-1/2">
            <CustomParticles client:load />
            <span class="text-white text-5xl z-10">AHAJJAJAJA</span>
        </div>
    </body>
</html>
